body {
  margin: auto;
  background-color: #faf1eb;
}

.container {
  max-inline-size: 600px;
  inline-size: 100%;
  margin: auto;
}

.header {
  -webkit-margin-before: 100px;
          margin-block-start: 100px;
}

.header-imgbox {
  max-inline-size: 200px;
  inline-size: 80%;
  margin: auto;
}

.header-imgbox_content {
  inline-size: 100%;
  border-radius: 25%;
}

.header-h1 {
  text-align: center;
  font-size: 1.5em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.header-h2 {
  text-align: center;
  font-size: 1.1em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

main {
  -webkit-margin-before: 50px;
          margin-block-start: 50px;
}

.main-content {
  line-height: 1.7em;
}
